<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="header" class="topbar d-flex justify-content-between align-items-center">

    <h5 class="mb-0 fw-bold">
        Employee MS
    </h5>

    <div class="d-flex align-items-center gap-3">

        <!-- ADMIN Welcome -->
        <span class="fw-semibold" th:if="${role == 'ADMIN'}">
            Welcome, Admin
        </span>

        <!-- EMPLOYEE Welcome -->
        <span class="fw-semibold" th:if="${role == 'EMPLOYEE'}">
            Welcome, <span th:text="${employeeName}"></span>
        </span>

        <a th:href="@{/logout}" class="btn btn-light btn-sm">
            Logout
        </a>

    </div>

</div>

</body>
</html>
